@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-retrogreen: #697943;
  --color-retrobrown: #6C6243;
}

body{
    background-color: #D2D0BF;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.font-ephesis{
  font-family: 'Ephesis', cursive;
}
.font-inter{
  font-family: 'Inter';
}
.font-flubber{
  font-family: 'flubber';
  src: url('/frontend/src/assets/fonts/flubber.TTF');
}